<!doctype html>

<html lang="zh-TW">
<head>
<meta charset="utf-8">
<title>position</title>
<link href="css/main.css" rel="stylesheet" type="text/css">
<link href='https://fonts.googleapis.com/css?family=Noto+Sans' rel='stylesheet' type='text/css'>
</head>

<body>
<h1>Position設定</h1>


<div class="box0"><code>position: static</code></div>
<br>

<div class="box1"><code>position: relative (top:30px; left:100px;)</code></div>
<br>
<br>
<div class="box4"><code>position: sticky (top:0;)</code></div>

<br>
<div class="box2"><code>position: absolute (right:0; top:0;)</code></div>

<br>
<div class="box3"><code>position: fixed (right:0; bottom:0;)</code></div>


<h1>應用方式</h1>
<code>position: relative + position: absolute</code>
<div class="box1">relative<div class="box2">absolute</div></div>
<br>

</body>
</html>
