<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>float</title>
<link href="css/main.css" rel="stylesheet" type="text/css">
</head>

<body>

    <h1>Float設定</h1>
    <code>float:left; (元素自左對齊)</code>
        <div class="vox">
            <div class="vox1">left1</div>
            <div class="vox2">left2</div>
        </div>
    <br />
    
    <code>float:right; (元素自右對齊)</code>
        <div class="vox">
            <div class="vox3">right1</div>
            <div class="vox4">right2</div>
        </div>
    <br />
    
    <code>left與right並存</code>
        <div class="vox">
            <div class="vox1">left1</div>
            <div class="vox3">right1</div>
        </div>
    <br />
    
    <h1><br /><br />應用方式</h1>

	<h3><br />1. 圖繞文的效果</h3>
    
    <div class="vox0">
        <span><h3>圖置左</h3></span>
        <p>
        <img src="images/p3.png" alt="test img" class="l_img" />
        This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text.
        </p>
    </div>
    
    <div class="vox0">
        <span><h3>圖置右</h3></span>
        <p>
        <img src="images/p3.png" alt="test img" class="r_img" />
        This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text.
        </p>
    </div>
    
    <br />
    
    <h3><br />2. 分割欄位 (選單+內容)</h3>
    <nav>
    <ul>
      <li>平時作業</li>
      <li>期中作業</li>
      <li>期末作業</li>
    </ul>
    </nav>
    
    <section>
    Personal branding is by no means a new or light topic, but with the rise of social technologies, personal branding is as accessible as ever, meaning you have so much more opportunity, but also so much more competition.Personal branding is by no means a new or light topic, but with the rise of social technologies, personal branding is as accessible as ever, meaning you have so much more opportunity, but also so much more competition.Personal branding is by no means a new or light topic, but with the rise of social technologies, personal branding is as accessible as ever, meaning you have so much more opportunity, but also so much more competition.Personal branding is by no means a new or light topic, but with the rise of social technologies, personal branding is as accessible as ever, meaning you have so much more opportunity, but also so much more competition.
    </section>
    
    <aside>
        <nav>
        <ul>
          <li>文章1</li>
          <li>文章2</li>
          <li>文章3</li>
        </ul>
        </nav>
    </aside>
    
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

</body>
</html>
